/**
 * @file
 * Subtheme specific CSS.
 */

 @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
 @font-face {
   font-family: Ideal Sans;
   src: url(../fonts/IdealSans-Book-Pro.otf);
 }

 :root {
   --green: #39A186;
   --blue: #0088C7;
 }

 body,p {
   font-family: 'Roboto', 'Helvetica', sans-serif;
   font-weight: 300;
   font-size: 20px
 }

 h1, h2, h3, h4, h5, h6,
 .h1, .h2, .h3, .h4, .h5, .h6 {
   font-family: Ideal Sans;
 }

 a {
   color: var(--blue);
   text-decoration: none;
 }

 a:hover {
   color: var(--blue);
   font-weight: 500;
 }

 .green {
   color: var(--green);
 }

 .bg-green, .bg-green a, .bg-green a:hover {
   background: var(--green);
   color: #fff;
 }

 .blue {
   color: var(--blue);

 }

 .bg-blue, .bg-blue a, .bg-blue a:hover {
   background: var(--blue);
   color: #fff;
 }
 
 h1 {
   font-size: 2.625em; /* 42px */
 }

 h2 {
   font-size: 2em; /* 32px */
 }

 h3 {
   font-size: 1.625em; /* 28px */
 }

 h4 {
   font-size: 1.25em; /* 20px */
 }

 .region {
   margin-top: 20px;
   margin-bottom: 20px;
 }


 .nav-link {
   color: #333 !important;
 }

 .navbar .nav-link {
   color: #000 !important;
 }

 .site-footer {
    background: var(--green) !important;
    color: #fff !important;
 }
 
 .line-left-green {
   position: relative;
   left: 0%;
   height: 9px;
   width: 75px;
   background-color: var(--green);
 }

 .line-right-green {
   position: relative;
   left: 94%;
   height: 9px;
   width: 75px;
   background-color: var(--green); 
 }

 .line-left-blue {
   position: relative;
   left: 0%;
   height: 9px;
   width: 75px;
   background-color: var(--blue);
 }

 .line-right-blue {
   position: relative;
   left: 94%;
   height: 9px;
   width: 75px;
   background-color: var(--blue); 
 }
 
 .background-box-green {
   background: url(../images/green-box.png) no-repeat top right;
 }

 .background-circle-blue-left {
   background: url(../images/circle-blue.png) no-repeat top left;
   padding-left: 100px;
   padding-top: 100px;
 }

 .background-circle-green-right {
   background: url(../images/circle-green.png) no-repeat top right;
   padding-right: 100px;
   padding-top: 100px;
 }

 /* Superfish */
 .block-superfishmain-nav-2023 {
   float: right;
   color: #000;
   text-decoration: none;
 }
 ul.sf-menu.sf-style-white {
   float: right;
 }
 ul.sf-menu.sf-style-white a, ul.sf-menu.sf-style-white a:visited, ul.sf-menu.sf-style-white span.nolink {
  font-family: 'Ideal Sans';
  text-transform: uppercase;
   color: #000;
   text-decoration: none;
 }
 ul.sf-menu.sf-style-white .sf-depth-3 {
   margin-left: 10px;
 }

 /* Slideshow */
 .flex-caption {
   position: absolute;
   left: 4px;
   bottom: 4px;
   right: 4px;
   background: rgba(0, 0, 0, 0.51);
   color: #fff;
   padding: 10px;
   z-index: 2;
 } 


 /* Profile Page */

 .node--type-profile .view-display-id-profile_title .views-row {
   text-align: right;
 }

 .node--type-profile .view-display-id-profile_photo img {
   border-radius: 5px;
   box-shadow: 5px 5px #D9D9D9;
   margin-left: 15px;
 }

 .node--type-profile .node__content .field--name-body {
   padding: 100px;
   border: 3px solid var(--blue);
   border-radius: 10px;
   margin-top: -25px;
 }

 .site-footer {
   margin-top: 100px;
 }
 
 .navbar-toggler-icon {
   background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
 }


 @media (max-width: 992px) {
   .node--type-profile .view-display-id-profile_title {
      text-align: center !important;
   }

   .node--type-profile .view-display-id-profile_photo {
      margin: 0;
   }
      
   .node--type-profile .view-display-id-profile_photo .views-field-field-image {
      text-align: center;
      padding: 10px 0 10px;
   }

   .node--type-profile .node__content .field--name-body {
      padding: 30px;
      border: 3px solid var(--blue);
      border-radius: 10px;
      margin-top: 0;
   }

   .flex-caption {
      position: relative;
      background: #000;
    } 
   

}


@media (min-width: 992px) {
   .navbar-expand-lg .navbar-collapse {
      flex-direction: row-reverse;
   }
   
}


/* Our LPR Champions grid */
.view-profile-listing .views-row .profile-listing-image {
  height: 220px;
  width: 220px;
  overflow: hidden;
}

.view-profile-listing views-row .profile-listing-image img {
  height: 220px;
}

.view-profile-listing .views-row .profile-listing-name a {
  font-family: 'Ideal Sans', sans-serif;
  font-size: 1.4rem;
  display: flex;
  flex-wrap: wrap;
  padding: 2px 10px;
  align-items: flex-end;
  justify-content: flex-start;
  text-decoration: none;
  font-weight: bold;
  color: #ffffff;
  height: 220px;
  width: 220px;
  text-shadow: 0px 0px 8px #000000;
}

.view-profile-listing .views-row .profile-listing-name {
  width: 100%;
  position: relative;
  bottom: 220px;
  height: inherit;
}

@media (min-width: 768px) {
  .view-profile-listing .views-row .profile-listing-name {
    display: none;
    width: min-content;
    overflow: hidden;
  }

  .view-profile-listing .views-row:hover .profile-listing-name {
    display: table-cell;
    background: rgba(66, 169, 216, 0.50);
  }

  .view-profile-listing .views-row .profile-listing-image img {
    filter: grayscale(100%);
  }

  .view-profile-listing .views-row:hover .profile-listing-image img {
    filter: grayscale(0%);
  }
}

@media (max-width: 768px) {
  .view-profile-listing .views-row .profile-listing-image img {
    filter: grayscale(100%);
  }

  .view-profile-listing .views-row .profile-listing-name {
    display: table-cell;
    /* background: rgba(66, 169, 216, 0.50); */
  }
}

/* Flagship Programs - Home */
#flagship-programs-home .program-title {
  text-transform: uppercase;
  color: #39A186;
}

#flagship-programs-home .program-image {
  width: 100%;
  min-width: 290px;
  height: 255px;
  border-radius: 35px;
  background: #fafafa;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

#flagship-programs-home .program-read-more a {
  border-radius: 10px;
}

@media (min-width: 992px) {
  #flagship-programs-home .program-title {
    min-height: 150px !important;
  }

  #flagship-programs-home .program-blurb {
    min-height: 200px !important;
  }
}

/* Our Focus - Home */
#our-focus-home #focus-environmental-protection { background: #8BD573; }
#our-focus-home #focus-gender-equality { background: #56CA87; }
#our-focus-home #focus-harnessing-technology { background: #0088C7; }
#our-focus-home #focus-ppp { background: #76C879; }

@media (min-width: 768px) {
  #our-focus-home .focus-title {
    min-height: 80px;
  }
  #our-focus-home .focus-blurb {
    min-height: 120px;
  }
}

@media (min-width: 992px) {
  #our-focus-home .focus-title {
    min-height: 140px;
  }
  #our-focus-home .focus-blurb {
    min-height: 250px;
  }
}

/* News & Events - Home */
#events-highlighted .event-title a,
#events-featured .event-title a {
  text-decoration: none;
  color: var(--blue);
}

#events-highlighted .event-read-more a,
#events-featured .event-read-more a {
  font-family: 'Ideal Sans', 'Helvetica', sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  color: #333;
}

#events-highlighted .event-read-more a:after,
#events-featured .event-read-more a:after
 {
  margin-left: 10px;
  content: url('/themes/custom/lpr2023/images/chevron-right.svg');
}

/* Our work */
ol#our-work-core-instruments {
  list-style: none;
  counter-reset: item;
}

ol#our-work-core-instruments li.instrument {
  counter-increment: item;
  display: inline-block;
}

ol#our-work-core-instruments li.instrument:before {
  font-family: 'Ideal Sans','Helvetica', sans-serif;
  content: counter(item);
  font-size: 60px;
  position: relative;
  top: 30px;
  left: -25px;
}

ol#our-work-core-instruments .instrument-1:before {
  color: #0088C7;
}

ol#our-work-core-instruments .instrument-2:before {
  color: #8BD573;
}

ol#our-work-core-instruments .instrument-3:before {
  color: #6CCDFA;
}

#our-work-deliver .deliver-item {
border-radius: 30px;
background: #FFF;
box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

#our-work-partners .partner {
  border-radius: 30px;
  background: #D9D9D9;
}

@media (min-width: 769px) {
  #our-work-banner-quote {
    color: #ffffff;
    text-shadow: 3px 2px 4px black;
  }
}

@media (max-width: 768px) {
  #our-work-banner-quote {
    width: 100% !important;
    position: relative !important;
    color: #000000 !important;
  }
}
