/**
 * @file
 * Subtheme specific CSS.
 */

 @import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

 @font-face {
   font-family: "Ideal Sans";
   src: url(../fonts/IdealSans-Bold-Pro.otf);
   font-weight: 700;
   font-style: normal;
 }
 
 @font-face {
   font-family: "Ideal Sans";
   src: url(../fonts/IdealSans-Medium-Pro.otf);
   font-weight: 500;
   font-style: normal;
 }
 @font-face {
   font-family: "Ideal Sans";
   src: url(../fonts/IdealSans-Book-Pro.otf);
   font-weight: 400;
   font-style: normal;
 }
 @font-face {
   font-family: "Ideal Sans";
   src: url(../fonts/IdealSans-Light-Pro.otf);
   font-weight: 300;
   font-style: normal;
 }
 
 :root {
   --green: #39a186;
   --blue: #0088c7;
   --gray: #e5e5e5;
 }
 
 body,
 p {
   font-family: "Roboto", "Helvetica", sans-serif;
   font-weight: 300;
   font-size: 1rem;
   /* font-size: 20px; */
 }
 
 h1,
 h2,
 h3,
 h4,
 h5,
 h6,
 .h1,
 .h2,
 .h3,
 .h4,
 .h5,
 .h6 {
   font-family: "Ideal Sans";
   font-weight: 400;
 }
 
 /* .h4 strong {
   font-family: 'Ideal Sans Medium';
  } */
 
 a {
   color: var(--blue);
   text-decoration: none;
 }
 
 a:hover {
   color: var(--blue);
   /* font-weight: 500; */
 }
 
 .green {
   color: var(--green);
 }
 
 .bg-green,
 .bg-green a,
 .bg-green a:hover {
   background: var(--green);
   color: #fff;
 }
 
 .blue {
   color: var(--blue);
 }
 
 .bg-blue,
 .bg-blue a,
 .bg-blue a:hover {
   background: var(--blue);
   color: #fff;
 }
 
 .bg-gray {
   background: var(--gray);
 }
 
 h1 {
   font-size: 2em; /* 40px */
 }
 
 h2 {
   font-size: 1.6em; /* 28px */
 }
 
 h3 {
   font-size: 1.4em; /* 24px */
 }
 
 h4 {
   font-size: 1.25em; /* 22px */
 }

 h5 {
  font-size: 1.05em;
 }
 
 .region {
   margin-top: 10px;
   margin-bottom: 10px;
 }

 .header {
   border-bottom: #ddd;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.30);
 }

 .featured-top .region {
   margin-top: 0px;
 }
 
 #superfish-main-nav-2023 .nav-link {
   color: #333 !important;
 }
 
#superfish-main-nav-2023 {
  margin-bottom: 0px!important;
  margin-right: 10px;
}

#superfish-main-nav-2023 a.sf-depth-1:hover,
#superfish-main-nav-2023 a.is-active {
  background:rgba(66, 169, 216, 0.5)!important;
}

#CollapsingNavbar {
  display:flex;
  flex-direction: row;
}

#CollapsingNavbar #block-lpr2023-exposedformsite-searchsite-search-2 {
  width: 260px!important;
}

#CollapsingNavbar #edit-search-api-fulltext {
  width: 160px!important;
}

#CollapsingNavbar > .content > #views-exposed-form-site-search-site-search > .d-flex {
  flex-wrap: nowrap!important;
}

#CollapsingNavbar #views-exposed-form-site-search-site-search .form-item-search-api-fulltext,
#CollapsingNavbar #views-exposed-form-site-search-site-search #edit-actions
{
  margin-bottom: 0px!important;
}

.navbar-brand img {
  width: 75px;
}

 .navbar .nav-link {
   color: #000 !important;
 }
 
 .site-footer {
   background: var(--green) !important;
   color: #fff !important;
 }
 
 .line-left-green {
   position: relative;
   left: 0%;
   height: 9px;
   width: 75px;
   background-color: var(--green);
   margin-bottom: 25px;
 }
 
 .line-right-green {
   position: relative;
   left: 94%;
   height: 9px;
   width: 75px;
   background-color: var(--green);
   margin-bottom: 25px;
 }
 
 .line-left-blue {
   position: relative;
   left: 0%;
   height: 9px;
   width: 75px;
   background-color: var(--blue);
   margin-bottom: 25px;
 }
 
 .line-right-blue {
   position: relative;
   left: 94%;
   height: 9px;
   width: 75px;
   background-color: var(--blue);
   margin-bottom: 25px;
 }
 
 .background-box-green {
   background: url(../images/green-box.png) no-repeat top right;
 }
 
 .background-circle-blue-left {
   background: url(../images/circle-blue.png) no-repeat top left;
   padding-left: 100px;
   padding-top: 100px;
 }
 
 .background-circle-green-right {
   background: url(../images/circle-green.png) no-repeat top right;
   padding-right: 100px;
   padding-top: 100px;
 }
 
 /* Superfish */
 .block-superfishmain-nav-2023 {
   float: right;
   color: #000;
   text-decoration: none;
 }
 ul.sf-menu.sf-style-white {
   float: right;
 }
 ul.sf-menu.sf-style-white a,
 ul.sf-menu.sf-style-white a:visited,
 ul.sf-menu.sf-style-white span.nolink {
   font-family: "Ideal Sans";
   text-transform: uppercase;
   color: #000;
   text-decoration: none;
 }
 ul.sf-menu.sf-style-white .sf-depth-3 {
   margin-left: 10px;
   font-family: Roboto, sans-serif;
   text-transform: capitalize;
 }
 ul.sf-menu.sf-style-white li.sf-multicolumn-wrapper span.nolink.menuparent {
  font-weight: 500 !important;
 }
 
 /* MMenu */
 .mm-panels .mm-navbar__title,
 .mm-panels .mm-listitem {
  font-family: "Ideal Sans";
  text-transform: uppercase;
  color: #000;
  text-decoration: none;
}

.mm-panels .mm-navbar__title {
  color: #333 !important;
  font-weight: 500;
}

 /* Slideshow */
 .view-homepage-slideshow .overlay {
   position: absolute;
   left: 0px;
   bottom: 0px;
   right: 0px;
   background: rgba(0, 0, 0, 0.51);
   color: #fff;
   padding: 50px;
   z-index: 2;
 }
 
 /* Profile Page */
 
 .node--type-profile .view-display-id-profile_title .views-row {
   text-align: right;
 }
 
 .node--type-profile .view-display-id-profile_photo img {
   border-radius: 5px;
   box-shadow: 5px 5px #d9d9d9;
   margin-left: 15px;
 }

 .node--type-profile .node__content .layout.layout--onecol .block.block-layout-builder.block-field-blocknodeprofilebody .field--name-body {
   padding: 100px;
   border: 3px solid var(--blue);
   border-radius: 10px;
   margin-top: -25px;
   margin-bottom: 25px;
 }
 
 .site-footer {
   margin-top: 100px;
 }
 
 .navbar-toggler-icon {
   background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
 }
 
 @media (max-width: 992px) {
   .node--type-profile .view-display-id-profile_title {
     text-align: center !important;
   }
 
   .node--type-profile .view-display-id-profile_photo {
     margin: 0;
   }
 
   .node--type-profile .view-display-id-profile_photo .views-field-field-image {
     text-align: center;
     padding: 10px 0 10px;
   }
 
   .node--type-profile .node__content .layout.layout--onecol .block.block-layout-builder.block-field-blocknodeprofilebody .field--name-body {
     padding: 30px;
     border: 3px solid var(--blue);
     border-radius: 10px;
     margin-top: 0;
   }
 
   .view-homepage-slideshow .overlay {
     position: relative;
     background: #000;
   }
 }
 
 @media (min-width: 992px) {
   .navbar-expand-lg .navbar-collapse {
     flex-direction: row-reverse;
   }
 }

 @media (max-width: 767px) {
    #block-lpr2023-footer {
      text-align: center;
    }
 }

 /* Profile misc */
 .circle-frame { 
  border-radius: 50%;
  border: 5px solid var(--green);
 }

 
 /* Our LPR Champions grid */
 .view-profile-listing .views-row .profile-listing-image {
   height: 185px;
   width: 185px;
   overflow: hidden;
 }
 
 .view-profile-listing .views-row .profile-listing-image img {
   height: 185px;
 }
 
 .view-profile-listing .views-row .profile-listing-name a {
   display: flex;
   flex-wrap: wrap;
   padding: 2px 10px;
   align-items: flex-end;
   justify-content: flex-start;
   text-decoration: none;
   color: #ffffff;
   height: 185px;
   width: 185px;
   text-shadow: 0px 0px 8px #000000;
 }
 
 .view-profile-listing .views-row .profile-listing-name {
   width: 100%;
   position: relative;
   bottom: 220px;
   height: inherit;
 }
 
 @media (min-width: 768px) {
   .view-profile-listing .views-row .profile-listing-name {
     display: none;
     width: min-content;
     overflow: hidden;
   }
 
   .view-profile-listing .views-row:hover .profile-listing-name {
     display: table-cell;
     background: rgba(66, 169, 216, 0.5);
     top: -185px;
   }
 
   .view-profile-listing .views-row .profile-listing-image img {
     filter: grayscale(100%);
   }
 
   .view-profile-listing .views-row:hover .profile-listing-image img {
     filter: grayscale(0%);
   }
 }
 
 @media (max-width: 768px) {
   .view-profile-listing .views-row .profile-listing-image img {
     filter: grayscale(100%);
   }
 
   .view-profile-listing .views-row .profile-listing-name {
     display: table-cell;
     /* background: rgba(66, 169, 216, 0.50); */
   }
 }
 
 /* Flagship Programs - Home */
 #flagship-programs-home .program-title,
 #flagship-programs-home .program-title a{
   text-transform: uppercase;
   color: var(--green) !important;
 }
 
 #flagship-programs-home .program-image {
   width: 100%;
   min-width: 290px;
   height: 255px;
   border-radius: 35px;
   background: #fafafa;
   box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
 }
 
 #flagship-programs-home .program-read-more a {
   border-radius: 10px;
 }
 
 @media (min-width: 992px) {
   #flagship-programs-home .program-title {
     min-height: 90px !important;
   }
 
   #flagship-programs-home .program-blurb {
     min-height: 120px !important;
   }
 }
 
 /* Our Focus - Home */
 #our-focus-home #focus-environmental-protection {
   background: #8bd573;
 }
 #our-focus-home #focus-gender-equality {
   background: #56ca87;
 }
 #our-focus-home #focus-harnessing-technology {
   background: #0088c7;
 }
 #our-focus-home #focus-ppp {
   background: #76c879;
 }
 
 @media (min-width: 768px) {
  #our-focus-home .focus-logo {
    min-height: 120px;
  }

   #our-focus-home .focus-title {
     min-height: 80px;
   }
   #our-focus-home .focus-blurb {
     min-height: 120px;
   }
 }
 
 /* @media (min-width: 992px) {
   #our-focus-home .focus-title {
     min-height: 90px;
   }
   #our-focus-home .focus-blurb {
     min-height: 250px;
   }
 } */
 
 /* News & Events */
 .news-highlighted .news-title a,
 .news-list .news-title a,
 .event-highlighted .event-title a,
 .event-list .event-title a {
   text-decoration: none;
   color: var(--blue);
 }
 
 .elearning-list .elearning-read-more a,
 .publications-list .publications-read-more a,
 .news-highlighted .news-read-more a,
 .news-list .news-read-more a,
 .event-highlighted .event-read-more a,
 .event-list .event-read-more a {
   font-family: "Ideal Sans", "Helvetica", sans-serif;
   text-decoration: none;
   text-transform: uppercase;
   color: #333;
 }
 
 .elearning-list .elearning-read-more a:after,
 .publications-list .publications-read-more a:after,
 .news-highlighted .news-read-more a:after,
 .news-list .news-read-more a:after,
 .event-highlighted .event-read-more a:after,
 .event-list .event-read-more a:after {
   margin-left: 10px;
   content: url("/themes/custom/lpr2023/images/chevron-right.svg");
 }
 
 /* Our work */
 ol#our-work-core-instruments {
   list-style: none;
   counter-reset: item;
 }
 
 ol#our-work-core-instruments li.instrument {
   counter-increment: item;
   display: inline-block;
 }
 
 ol#our-work-core-instruments li.instrument:before {
   font-family: "Ideal Sans", "Helvetica", sans-serif;
   content: counter(item);
   font-size: 60px;
   position: relative;
   top: 30px;
   left: -25px;
 }
 
 ol#our-work-core-instruments .instrument-1:before {
   color: #0088c7;
 }
 
 ol#our-work-core-instruments .instrument-2:before {
   color: #8bd573;
 }
 
 ol#our-work-core-instruments .instrument-3:before {
   color: #6ccdfa;
 }
 
 #our-work-deliver .deliver-item {
   border-radius: 30px;
   background: #fff;
   box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
 }
 
 #our-work-partners .partner {
   border-radius: 30px;
   background: #d9d9d9;
 }
 
 @media (min-width: 769px) {
   #our-work-banner-quote {
     color: #ffffff;
     text-shadow: 3px 2px 4px black;
   }
 }
 
 @media (max-width: 768px) {
   #our-work-banner-quote {
     width: 100% !important;
     position: relative !important;
     color: #000000 !important;
   }
 }
 

 /* Focus areas */
 .focus-areas .section-two {
  margin-top: 100px;
 }

 .focus-areas .overlay-box {
  margin: -50px 0 0 -100px;
 }

 .section-two .impact {
  border-top: 5px solid var(--blue) !important;
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
  border-bottom-left-radius: 20px !important; 
  border-bottom-right-radius: 20px !important;
 }

 .focus-areas .impact strong {
  font-size: 1.2em;
  font-weight: 500;
 }

 .section-two ul li {
  margin-top: 10px;
 }

 @media (max-width: 768px) {
  .focus-areas .overlay-box {
    margin: 0;
   }
}

/* Flagship Events node view */

.node--type-event .nav-item,
#bootstrap-horizontal-tabs .nav-item {
  font-family: 'Ideal Sans', Helvetica, Roboto, sans-serif;
  font-weight: 300;
  font-size: 1.2rem;
}

.tab-content .img-small-profile {
  width: 22% !important;
  height: auto;
  float: left;
  margin-right: 20px;
  margin-bottom: 10px;
  border-radius: 50%;
  border: 5px solid var(--green);
  /* filter: grayscale(1); */
}

/*  Related Fields */
.related-list { list-style-type: none; padding-left: 0px; }
.related-item .field__item, .related-list .related-item { margin-bottom: 10px; }
.related-links-set { padding-left: 0px; }

/* force 'img-fluid' property on images */
/* .field--name-body img  */
body.page-view-site-search img.site-search-thumbnail
{
  max-width: 100%;
  height: auto;
}

/* force width of pdf previews */
.field--name-field-presentation-file iframe.pdf {
  width: 100%;
  height: 100%;
}

/*  Button Classes */

a.resource-button:link, a.resource-button:visited {
  background-color: var(--green);
  border-color: var(--green);
  font-size: 1.2rem;
}

.file-metadata {
  font-size: 0.6em;
  display: block;
  height: 20px;
  text-transform: uppercase;
}

.resource-cover {
  float: left;
  width: 200px;
  margin: 0 20px 20px 0;
}

.cover-image { border: 1px solid var(--gray); }

.site-search-thumbnail {
  float: left;
  width: 150px;
  margin: 0 20px 20px 0;
}

p.search-summary {
  overflow: hidden;
}

/*  Site Search Classes */

ul.js-facets-widget {
  padding: 0 0 0 0px !important;
  list-style-type: none; 
}

.facets-checkbox {
  float: left;
  margin-right: 5px !important;
  margin-top: 3px;
}

.facet-item label {
  display: inline-block;
  margin-left: 5px;
  width: 90%;
}


/* facet styles */
#block-filterbylawinstrument .facets-widget- ul 
{
  list-style-type: none;
  padding-left: 15px;
}

#block-filterbylawinstrument .facets-widget- ul li  {
  display: flex;
}

#block-filterbylawinstrument .facets-widget-  ul li input {
  align-self: flex-start;
}

#block-filterbylawinstrument .facets-widget- ul li label,
#block-filterbylawinstrument .facets-widget- ul li .facet-item-value
 {
  width: auto;
}

#block-lprtheme-content .view-display-id-asia_pacific_law_database h3 a {
  color: #699457;
}

/* flickr gallery */
.flickrwrap {position:relative;padding-bottom:56.25%;padding-top:30px;height:0;overflow:hidden;}
.flickrwrap iframe {position:absolute;top:0;left:0;width:100%;height:100%;}


/* focus area styles */
.success-story-read-more a {
  font-family: "Ideal Sans", "Helvetica", sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  color: #333;
}

.success-story-read-more a:after {
  margin-left: 10px;
  content: url("/themes/custom/lpr2023/images/chevron-right.svg");
}

.success-story-image img {
  border-radius: 30px;
}

.featured-publication-type,
.elearning-type,
.featured-resource-type {
  font-weight: 500;
  font-size: .8em;
}

/* Knowledge & Resources */
.apac-facet-contents {
  border-radius: 30px;
background: #FFF;
box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
}


/* search inputs */
/* site-wide search */
#block-lpr2023-exposedformasia-law-databaseasia-pacific-law-database h2 {
  display: none;
}

#edit-search-api-fulltext,
#block-lpr2023-exposedformsite-searchsite-search #edit-search-api-fulltext--2
{
  border-radius: 20px 0px 0px 20px;
  border-right: none;
  border-color: black;
}

#edit-submit-site-search,
[id^=edit-submit-site-search--],
#edit-submit-site-search--3
{
  border-radius: 0px 20px 20px 0px;
  border-color: black !important;
  border-left: none !important;
  background-color: var(--green) !important;
}

/* search pages */
.page-view-asia-law-database #main-wrapper,
.page-view-site-search #main-wrapper {
  padding-top: 30px;
}

#block-lpr2023-exposedformasia-law-databaseasia-pacific-law-database [id^=edit-search-api-fulltext],
#views-exposed-form-asia-law-database-asia-pacific-law-database [id^=edit-search-api-fulltext]
{
  border-color: black;
  border-radius: 20px 0px 0px 20px;
}

#views-exposed-form-asia-law-database-asia-pacific-law-database .d-flex.flex-wrap
{
  flex-direction: column;
}

#block-lpr2023-exposedformasia-law-databaseasia-pacific-law-database #edit-actions--2,
#block-lpr2023-exposedformasia-law-databaseasia-pacific-law-database [id^=edit-actions--]
{
  width: 100%;
}

#block-lpr2023-exposedformasia-law-databaseasia-pacific-law-database #views-exposed-form-asia-law-database-asia-pacific-law-database [id^=edit-search-api-fulltext] {
  width: auto;
}

#block-lpr2023-exposedformasia-law-databaseasia-pacific-law-database #edit-actions--2 #edit-submit-asia-law-database--2,
#block-lpr2023-exposedformasia-law-databaseasia-pacific-law-database [id^=edit-actions--] button
{
  border-radius: 0px 20px 20px 0px;
}

#block-lpr2023-exposedformasia-law-databaseasia-pacific-law-database [id^=edit-actions--] [id^=edit-submit-asia-law-database--]{
  background-color: var(--green);
  border-color: var(--green);
}


#block-lpr2023-exposedformasia-law-databaseasia-pacific-law-database [id^=edit-actions--] [id^=edit-reset--]{
  background-color: var(--bs-gray-700);
  border-color: var(--bs-gray-700);
}



/*resources/publications */
#presentation-window:not(.presentations) {
  --bs-aspect-ratio: calc(4 / 3 * 100%);
}

/* Page banners - About Us, Our Work, News & Events, Knowledge & Resources */
@media (min-width: 992px) {
  .banner-text {
    width: 84%;
  }
}

@media (max-width: 772px){
  .banner-text {
    position: relative !important;
  }
}

/* .featured-publication-image {
  max-height: 380px;
  overflow:hidden; 
  position:relative;
  background-color: #F0F0F0;
} */

.publications-image {
  max-height: 300px;
  overflow:hidden; 
  position:relative;
  background-color: #F0F0F0;
}


@media (min-width: 992px){
.publications-image img,
.featured-publication-image img {
  width: 100%;
}
}

/* homepage - news and events styles  */
body.page-node-68 .view-news.view-id-news.view-display-id-news_highlighted .news-image > a > img,
body.page-node-68 .view-events.view-id-events.view-display-id-homepage_highlighted .event-image > a > img,
body.page-node-68 .view-events.view-id-events.view.view-display-id-homepage_list .event-list .event-image > a > img,
body.page-node-68 .view-news.view-id-news.view-display-id-homepage_list .news-list .news-image > a > img {
  border-radius: 35px !important;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

/* our work video */
#our-work-video iframe {
  border-radius: 35px;
  background: #fafafa;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

/* legal readiness */ 
  #legal-readiness-preview {
    --bs-aspect-ratio: calc(3.97 / 3 * 100%);
  }

