/**
 * @file
 * Subtheme specific CSS.
 */

 @font-face {
   font-family: Ideal Sans;
   src: url(../fonts/IdealSans-Book-Pro.otf);
 }

 :root {
   --green: #39A186;
   --blue: #0088C7;
 }

 body {
   font-family: Roboto, helvetica;
 }

 h1, h2, h3, h4, h5, h6 {
   font-family: Ideal Sans;
 }

 .green {
   color: var(--green);
 }

 .bg-green, .bg-green a {
   background: var(--green);
   color: #fff;
 }

 .blue {
   color: var(--blue);

 }

 .bg-blue, .bg-blue a {
   background: var(--blue);
   color: #fff;
 }
 
 h1 {
   font-size: 2.625rem; /* 42px */
 }

 h2 {
   font-size: 2rem; /* 32px */
 }

 h3 {
   font-size: 1.625rem; /* 28px */
 }

 h4 {
   font-size: 1.25rem; /* 20px */
 }

 .nav-link {
   color: #333 !important;
 }

 .navbar .nav-link {
   color: #000 !important;
 }

 .site-footer {
    background: var(--green) !important;
    color: #fff !important;
 }
 
 .line-left-green {
   position: absolute;
   left: 0%;
   height: 9px;
   width: 75px;
   background-color: var(--green);
 }

 .line-right-green {
   position: absolute;
   left: 94%;
   height: 9px;
   width: 75px;
   background-color: var(--green); 
 }

 .line-left-blue {
   position: absolute;
   left: 0%;
   height: 9px;
   width: 75px;
   background-color: var(--blue);
 }

 .line-right-blue {
   position: absolute;
   left: 94%;
   height: 9px;
   width: 75px;
   background-color: var(--blue); 
 }
 
 .background-box-green {
   background: url(../images/green-box.png) no-repeat top right;
 }

 .background-circle-blue-left {
   background: url(../images/circle-blue.png) no-repeat top left;
   padding-left: 100px;
   padding-top: 100px;
 }

 .background-circle-green-right {
   background: url(../images/circle-green.png) no-repeat top right;
   padding-right: 100px;
   padding-top: 100px;
 }


 /* Profile Page */

 .node--type-profile .view-display-id-profile_title .views-row {
   text-align: right;
 }

 .node--type-profile .view-display-id-profile_photo img {
   border-radius: 5px;
   box-shadow: 5px 5px #D9D9D9;
   margin-left: 15px;
 }

 .node--type-profile .node__content .field--name-body {
   padding: 100px;
   border: 3px solid var(--blue);
   border-radius: 10px;
   margin-top: -25px;
 }

 .site-footer {
   margin-top: 100px;
 }


 @media (max-width: 992px) {
   .node--type-profile .view-display-id-profile_title {
      text-align: center !important;
   }

   .node--type-profile .view-display-id-profile_photo {
      margin: 0;
   }
      
   .node--type-profile .view-display-id-profile_photo .views-field-field-image {
      text-align: center;
      padding: 10px 0 10px;
   }

   .node--type-profile .node__content .field--name-body {
      padding: 30px;
      border: 3px solid var(--blue);
      border-radius: 10px;
      margin-top: 0;
   }

}


@media (min-width: 992px) {
   .navbar-expand-lg .navbar-collapse {
      flex-direction: row-reverse;
   }
   
}


/* Our LPR Champions grid */
.view-profile-listing .views-row .profile-listing-image {
  height: 220px;
  width: 220px;
  overflow: hidden;
}

.view-profile-listing views-row .profile-listing-image img {
  height: 220px;
}

.view-profile-listing .views-row .profile-listing-name a {
  font-family: 'Ideal Sans', sans-serif;
  font-size: 1.4rem;
  display: flex;
  flex-wrap: wrap;
  padding: 2px 10px;
  align-items: flex-end;
  justify-content: flex-start;
  text-decoration: none;
  font-weight: bold;
  color: #ffffff;
  height: 220px;
  width: 220px;
  text-shadow: 0px 0px 8px #000000;
}

.view-profile-listing .views-row .profile-listing-name {
  width: 100%;
  position: relative;
  bottom: 220px;
  height: inherit;
}

@media (min-width: 768px) {
  .view-profile-listing .views-row .profile-listing-name {
    display: none;
    width: min-content;
    overflow: hidden;
  }

  .view-profile-listing .views-row:hover .profile-listing-name {
    display: table-cell;
    background: rgba(66, 169, 216, 0.50);
  }

  .view-profile-listing .views-row .profile-listing-image img {
    filter: grayscale(100%);
  }

  .view-profile-listing .views-row:hover .profile-listing-image img {
    filter: grayscale(0%);
  }
}

@media (max-width: 768px) {
  .view-profile-listing .views-row .profile-listing-image img {
    filter: grayscale(100%);
  }

  .view-profile-listing .views-row .profile-listing-name {
    display: table-cell;
    /* background: rgba(66, 169, 216, 0.50); */
  }
}

/* Flagship Programs - Home */

#flagship-programs-home .program-image {
  width: 100%;
  min-width: 290px;
  height: 255px;
  border-radius: 35px;
  background: #fafafa;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

@media (min-width: 992px) {
  #flagship-programs-home .program-title {
    min-height: 100px !important;
  }

  #flagship-programs-home .program-blurb {
    min-height: 200px !important;
  }
}
